
.columns form{
    background-color: #f2f2f2;
    padding-top: 6px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 2px;
}
#form{
  width: 900px;
  height: 100px;
  resize: both;
  padding-left:400px;
  padding-bottom: 1px;
  margin-bottom: 50px;
  /*overflow: auto;*/
}

input[type=text]{
	margin-bottom: 20px;
	margin-top: 10px;
	width:100%;
	/*padding: 15px;*/
	border-radius:5px;
	border:1px solid #7ac9b7;
}
input[type=submit]
{
	margin-bottom: 20px;
	width:200px;
	padding: 15px;
	border-radius:5px;
	border:1px solid #7ac9b7;
	background-color: #4180C5;
	color: aliceblue;
	font-size:15px;
	cursor:pointer;
}
input[type=cancel]
{
	margin-bottom: 20px;
  float: right;
	width:200px;
	padding: 15px;
  /*padding-left: -52px;*/
	border-radius:5px;
	border:1px solid #7ac9b7;
	background-color: #4180C5;
	color: aliceblue;
	font-size:15px;
	cursor:pointer;
  text-align: center;
}
#submit:hover
{
 background-color: green;
}
#cancel:hover{
   background-color:red;
}
textarea{
	width:100%;
	padding: 15px;
	margin-top: 10px;
    border:1px solid #7ac9b7;
	border-radius:5px;
	margin-bottom: 20px;
	resize:none;
  }
input[type=text]:focus,textarea:focus {
	border-color: #4697e4;
}
